body {
    background: rgb(255,156,156);
    background: -moz-linear-gradient(90deg, rgba(255,156,156,1) 0%, rgba(78,193,149,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,156,156,1) 0%, rgba(78,193,149,1) 100%);
    background: linear-gradient(90deg, rgba(255,156,156,1) 0%, rgba(78,193,149,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9c9c",endColorstr="#4ec195",GradientType=1);
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

#game {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

#game div {
    border: solid;
    width: calc(100%/3 - 1px);
    text-align: center;
    line-height: calc(500px/3);
}

#message {
    font-size: 16px;
}

/* need to fix the position of the grid */